@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #741112;
	background-color: #741112;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#logo {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	background-color: #181717;
	padding: 15px;
	margin-top: 10px;
}
#rewards {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	background-color: #181717;
	padding: 15px;
}
.account {
	background-color: #FDCC7E;
	position: absolute;
	width: 80%;
	top: 15%;
	margin-left: 10%;
	display: none;
	z-index: 1;
}
.accountinside {
	border: 10px solid #B3393C;
	padding: 10px;
	text-align: left;
}
.jvhbutton {
	color: #FFF;
	background-color: #B3393C;
	text-align: center;
	width: 80%;
	display: block;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	transition: all 0.5s;
	line-height: 200%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
jvhbutton:active {
  transition: all 0.5s;
}
jvhbutton:focus {
    outline: none;
}
#loadingindicator {
	background-color: #1C1B1B;
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	text-align: center;
}
#loadingindicator #spinner {
	margin-top: 100px;
}
.blur {
	-webkit-filter: blur(8px);
}